.cart-items-list__buttons-price {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 16px;
}

@media screen and (max-width: 1023px) {
  .cart-items-list__buttons-price {
    width: 100%;
  }
}
