.cart-items-list__old-price-with-currency {
  border-bottom: 1px dashed rgba(0, 0, 0, 0.20);
  text-align: right;
  position: relative;
  cursor: pointer;
}

.cart-items-list__old-price-with-currency::after {
  content: "";
  position: absolute;
  left: 0;
  top: 60%;
  width: 100%;
  height: 1px;
  background-color: #9797AF;
  transform: translateY(-50%);
}
