.item-count-badge {
  padding-inline: 4px;
  display: inline-flex;
  min-width: 16px;
  width: fit-content;
  height: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 16px;
  background: #F55123;
  color: #ffffff;
  text-align: center;
  font-size: 10px;
  font-weight: 700;
  line-height: 18px;
  box-sizing: border-box;
}
