.cart-items-list__like-delete-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
  opacity: 0;
}

@media screen and (max-width: 1023px) {
  .cart-items-list__like-delete-buttons {
    gap: 24px;
  }
}
