.mobile-nav__favorites-link {
  width: 28px;
  height: 28px;
  background-image: url("../../../images/mobile_nav_favorites.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px 28px;
}
