.burger-menu {
  width: 48px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.45);
  background-color: transparent;
  background-image: url(../../images/burger_menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px 24px;
}

@media screen and (max-width: 767px) {
  .burger-menu {
    width: 28px;
    height: 28px;
    border-radius: 0;
    border: none;
    background-image: url(../../images/burger_menu_mobile.svg);
    background-size: 28px 26px;
  }
}
