.info-block {
  background-color: #ffffff;
  border-radius: 16px;
  display: flex;
  padding: 16px 24px 24px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  box-sizing: border-box;
}
