.header__nav-notify {
  position: absolute;
  top: -4px;
  right: 8px;
  display: inline-flex;
  width: 16px;
  height: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 16px;
  background: #F55123;
  color: #ffffff;
  text-align: center;
  font-size: 10px;
  font-weight: 700;
  line-height: 18px;
}
