.cart-items-list__item-name {
  margin: 0;
  padding: 0;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

@media screen and (max-width: 1023px) {
  .cart-items-list__item-name {
    font-size: 14px;
    line-height: 20px;
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    width: 100%;
  }
}
