.header__container {
  padding-inline: 24px 21px;
  margin: 0 auto;
  max-width: 1400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  box-sizing: border-box;
}
