.content__section-wrapper {
  width: 100%;
  margin-top: 6px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: 16px;
  box-sizing: border-box;
}

@media screen and (max-width: 1023px) {
  .content__section-wrapper {
    gap: 12px;
    margin-bottom: 8px;
  }
}
