.header__search-input {
  margin: 0;
  padding: 0 0 5px;
  border: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: transparent;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  overflow: hidden;
  color: #ffffff;
  opacity: 1;
  outline: none;
}
