.main__container {
  margin: 0 auto;
  padding: 22px 24px 34px;
  box-sizing: border-box;
  max-width: 1400px;
  width: 100%;
}

@media screen and (max-width: 1023px) {
  .main__container {
    padding: 15px 16px 34px;
  }
}
