.recipient__input {
  margin: 0;
  padding: 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.20);
  width: 100%;
  height: 27px;
  box-sizing: border-box;
  background-color: transparent;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  overflow: hidden;
  color: #000000;
}
