.cart-items-list__price-wrapper {
  width: 110px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 7px;
  position: relative;
}

@media screen and (max-width: 1023px) {
  .cart-items-list__price-wrapper {
    display: none;
  }
}
