.recipient__form {
  max-width: 700px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  row-gap: 18px;
}

@media screen and (max-width: 1023px) {
  .recipient__form {
    row-gap: 26px;
    max-width: 500px;
  }
}
