.header__logo-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}

@media screen and (max-width: 1023px) {
  .header__logo-wrapper {
    gap: 20px;
  }
}
