@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);

@import url(../blocks/page/page.css);
@import url(../blocks/page/__container/page__container.css);

@import url(../blocks/section/section.css);
@import url(../blocks/section/__main-title/section__main-title.css);
@import url(../blocks/section/__title/section__title.css);
@import url(../blocks/section/__title/_currency/section__title_currency.css);
@import url(../blocks/section/__title/_cost-details/section__title_cost-details.css);
@import url(../blocks/section/__subtitle/section__subtitle.css);
@import url(../blocks/section/__subtitle/_semibold/section__subtitle_semibold.css);
@import url(../blocks/section/__text/section__text.css);
@import url(../blocks/section/__subtext/section__subtext.css);
@import url(../blocks/section/__subtext/_purple/section__subtext_purple.css);
@import url(../blocks/section/__subtext/_green/section__subtext_green.css);
@import url(../blocks/section/__subtext/_link/section__subtext_link.css);
@import url(../blocks/section/__subtext/_padding-left-4/section__subtext_padding-left-4.css);
@import url(../blocks/section/__subtext/_grey/section__subtext_grey.css);
@import url(../blocks/section/__subtext/_recipient/section__subtext_recipient.css);
@import url(../blocks/section/__subtext/_margin-top-8/section__subtext_margin-top-8.css);
@import url(../blocks/section/__subtext/_quantity-left/section__subtext_quantity-left.css);
@import url(../blocks/section/__subtext/_hidden/section__subtext_hidden.css);
@import url(../blocks/section/__subtext/_bold/section__subtext_bold.css);

@import url(../blocks/content/content.css);
@import url(../blocks/page/__content/page__content.css);
@import url(../blocks/content/__column/content__column.css);
@import url(../blocks/content/__section-wrapper/content__section-wrapper.css);
@import url(../blocks/content/__goods-section-wrapper/content__goods-section-wrapper.css);
@import url(../blocks/content/__section/content__section.css);

@import url(../blocks/header/header.css);
@import url(../blocks/page/__header/page__header.css);
@import url(../blocks/header/__container/header__container.css);
@import url(../blocks/header/__logo-wrapper/header__logo-wrapper.css);
@import url(../blocks/burger-menu/burger-menu.css);
@import url(../blocks/button/button.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__logo/_mobile/header__logo_mobile.css);
@import url(../blocks/header/__search-form/header__search-form.css);
@import url(../blocks/header/__search-input/header__search-input.css);
@import url(../blocks/header/__search-button/header__search-button.css);
@import url(../blocks/header/__nav/header__nav.css);
@import url(../blocks/header/__nav-container/header__nav-container.css);
@import url(../blocks/header/__nav-item/header__nav-item.css);
@import url(../blocks/header/__nav-icon/header__nav-icon.css);
@import url(../blocks/header/__nav-icon/_cart/header__nav-icon_cart.css);
@import url(../blocks/header/__nav-link/header__nav-link.css);
@import url(../blocks/header/__nav-span/header__nav-span.css);
@import url(../blocks/header/__mobile-search/header__mobile-search.css);

@import url(../blocks/item-count-badge/item-count-badge.css);
@import url(../blocks/item-count-badge/_header/item-count-badge_header.css);
@import url(../blocks/item-count-badge/_delivery-method/item-count-badge_delivery-method.css);
@import url(../blocks/item-count-badge/_mobile-nav/item-count-badge_mobile-nav.css);

@import url(../blocks/item-size-badge/item-size-badge.css);
@import url(../blocks/item-size-badge/_goods/item-size-badge_goods.css);
@import url(../blocks/item-size-badge/__text/item-size-badge__text.css);

@import url(../blocks/mobile-nav/mobile-nav.css);
@import url(../blocks/mobile-nav/__links/mobile-nav__links.css);
@import url(../blocks/mobile-nav/__home-link/mobile-nav__home-link.css);
@import url(../blocks/mobile-nav/__catalog-link/mobile-nav__catalog-link.css);
@import url(../blocks/mobile-nav/__cart-link/mobile-nav__cart-link.css);
@import url(../blocks/mobile-nav/__cart-link/_active/mobile-nav__cart-link_active.css);
@import url(../blocks/mobile-nav/__favorites-link/mobile-nav__favorites-link.css);
@import url(../blocks/mobile-nav/__profile-link/mobile-nav__profile-link.css);

@import url(../blocks/main/main.css);
@import url(../blocks/main/__container/main__container.css);

@import url(../blocks/cart-contents/__wrapper/cart-contents__wrapper.css);
@import url(../blocks/cart-contents/__select-all-checkbox-wrapper/cart-contents__select-all-checkbox-wrapper.css);
@import url(../blocks/cart-contents/__title/cart-contents__title.css);
@import url(../blocks/cart-contents/__title/_block/cart-contents__title_block.css);

@import url(../blocks/cart-items-list/cart-items-list.css);
@import url(../blocks/cart-contents/__list/cart-contents__list.css);
@import url(../blocks/cart-items-list/__item/cart-items-list__item.css);
@import url(../blocks/cart-items-list/__content-wrapper/cart-items-list__content-wrapper.css);
@import url(../blocks/cart-items-list/__content-wrapper/_in-stock/cart-items-list__content-wrapper_in-stock.css);
@import url(../blocks/cart-items-list/__item-photo/cart-items-list__item-photo.css);
@import url(../blocks/cart-items-list/__item-photo/_absent/cart-items-list__item-photo_absent.css);
@import url(../blocks/cart-items-list/__text-wrapper/cart-items-list__text-wrapper.css);
@import url(../blocks/cart-items-list/__text-wrapper/_in-stock/cart-items-list__text-wrapper_in-stock.css);
@import url(../blocks/cart-items-list/__text/cart-items-list__text.css);
@import url(../blocks/cart-items-list/__description/cart-items-list__description.css);
@import url(../blocks/cart-items-list/__description/_hidden/cart-items-list__description_hidden.css);
@import url(../blocks/cart-items-list/__contractors/cart-items-list__contractors.css);
@import url(../blocks/cart-items-list/__icon-span-wrapper/cart-items-list__icon-span-wrapper.css);
@import url(../blocks/cart-items-list/__info-icon/cart-items-list__info-icon.css);
@import url(../blocks/cart-items-list/__buttons-price/cart-items-list__buttons-price.css);
@import url(../blocks/cart-items-list/__buttons/cart-items-list__buttons.css);
@import url(../blocks/cart-items-list/__like-delete-buttons/cart-items-list__like-delete-buttons.css);
@import url(../blocks/cart-items-list/__like-delete-buttons/_missing/cart-items-list__like-delete-buttons_missing.css);
@import url(../blocks/cart-items-list/__price-wrapper/cart-items-list__price-wrapper.css);
@import url(../blocks/cart-items-list/__mobile-price-wrapper/cart-items-list__mobile-price-wrapper.css);
@import url(../blocks/cart-items-list/__price-with-currency/cart-items-list__price-with-currency.css);
@import url(../blocks/cart-items-list/__price/cart-items-list__price.css);
@import url(../blocks/cart-items-list/__currency/cart-items-list__currency.css);
@import url(../blocks/cart-items-list/__price/_bigger-price/cart-items-list__price_bigger-price.css);
@import url(../blocks/cart-items-list/__subtext/cart-items-list__subtext.css);
@import url(../blocks/cart-items-list/__item-name/cart-items-list__item-name.css);
@import url(../blocks/cart-items-list/__item-name/_grey/cart-items-list__item-name_grey.css);
@import url(../blocks/cart-items-list/_missing-goods/cart-items-list_missing-goods.css);
@import url(../blocks/cart-items-list/__old-price-with-currency/cart-items-list__old-price-with-currency.css);
@import url(../blocks/cart-items-list/__quantity-with-span/cart-items-list__quantity-with-span.css);

@import url(../blocks/checkbox/checkbox.css);
@import url(../blocks/checkbox/_position/checkbox_position.css);
@import url(../blocks/radio-button/radio-button.css);

@import url(../blocks/dropdown/__button/dropdown__button.css);
@import url(../blocks/dropdown/__button/_closed/dropdown__button_closed.css);
@import url(../blocks/divider-line/divider-line.css);
@import url(../blocks/divider-line/_cart-contents/divider-line_cart-contents.css);
@import url(../blocks/divider-line/_mobile-cart-contents/divider-line_mobile-cart-contents.css);
@import url(../blocks/quantity-input/quantity-input.css);
@import url(../blocks/quantity-input/__count/quantity-input__count.css);
@import url(../blocks/quantity-input/__button/quantity-input__button.css);
@import url(../blocks/like-button/like-button.css);
@import url(../blocks/like-button/_active/like-button_active.css);
@import url(../blocks/delete-button/delete-button.css);

@import url(../blocks/absent-goods/__title-wrapper/absent-goods__title-wrapper.css);

@import url(../blocks/info-block/info-block.css);
@import url(../blocks/info-block/__title-wrapper/info-block__title-wrapper.css);
@import url(../blocks/order-summary/order-summary.css);
@import url(../blocks/order-summary/__cost-details/order-summary__cost-details.css);
@import url(../blocks/order-summary/__order-details/order-summary__order-details.css);
@import url(../blocks/order-summary/__cost-detail-row/order-summary__cost-detail-row.css);
@import url(../blocks/order-summary/__subtitle-wrapper/order-summary__subtitle-wrapper.css);
@import url(../blocks/order-summary/__edit-button/order-summary__edit-button.css);
@import url(../blocks/order-summary/__highlighted-info/order-summary__highlighted-info.css);
@import url(../blocks/order-summary/__shipping-info/order-summary__shipping-info.css);
@import url(../blocks/order-summary/__shipping-icon/order-summary__shipping-icon.css);
@import url(../blocks/order-summary/__text-wrapper/order-summary__text-wrapper.css);
@import url(../blocks/order-summary/__address-text-wrapper/order-summary__address-text-wrapper.css);
@import url(../blocks/order-summary/__checkbox-wrapper/order-summary__checkbox-wrapper.css);
@import url(../blocks/order-summary/__terms-of-use-container/order-summary__terms-of-use-container.css);
@import url(../blocks/order-summary/__card-number/order-summary__card-number.css);
@import url(../blocks/order-summary/__button-wrapper/order-summary__button-wrapper.css);
@import url(../blocks/info-block/_order-summary/info-block_order-summary.css);

@import url(../blocks/submit-button/submit-button.css);
@import url(../blocks/submit-button/_order-summary/submit-button_order-summary.css);
@import url(../blocks/submit-button/_payment-popup/submit-button_payment-popup.css);
@import url(../blocks/submit-button/_delivery-popup/submit-button_delivery-popup.css);
@import url(../blocks/submit-button/_disabled/submit-button_disabled.css);

@import url(../blocks/credit-card-icon/credit-card-icon.css);
@import url(../blocks/credit-card-icon/__mir-img/credit-card-icon__mir-img.css);
@import url(../blocks/credit-card-icon/__visa-img/credit-card-icon__visa-img.css);
@import url(../blocks/credit-card-icon/__mastercard-img/credit-card-icon__mastercard-img.css);
@import url(../blocks/credit-card-icon/__maestro-img/credit-card-icon__maestro-img.css);

@import url(../blocks/info-block/_gap-16/info-block_gap-16.css);
@import url(../blocks/change-button/change-button.css);
@import url(../blocks/delivery-method/__content/delivery-method__content.css);
@import url(../blocks/delivery-method/__row/delivery-method__row.css);
@import url(../blocks/delivery-method/__row/_margin/delivery-method__row_margin.css);
@import url(../blocks/delivery-method/__rating-icon/delivery-method__rating-icon.css);
@import url(../blocks/delivery-method/__free-return-info/delivery-method__free-return-icon.css);
@import url(../blocks/delivery-method/__shipping-icon/delivery-method__shipping-icon.css);
@import url(../blocks/delivery-method/__goods-photos/delivery-method__goods-photos.css);
@import url(../blocks/delivery-method/__goods-photo-item/delivery-method__goods-photo-item.css);
@import url(../blocks/delivery-method/__goods-photo-img/delivery-method__goods-photo-img.css);
@import url(../blocks/delivery-method/__flex-column/delivery-method__flex-column.css);
@import url(../blocks/delivery-method/__address-work-hours/delivery-method__address-work-hours.css);
@import url(../blocks/payment-method/__card-number/payment-method__card-number.css);

@import url(../blocks/info-block/_recipient/info-block_recipient.css);
@import url(../blocks/recipient/__form/recipient__form.css);
@import url(../blocks/recipient/__form-row/recipient__form-row.css);
@import url(../blocks/recipient/__form-row/recipient__form-row.css);
@import url(../blocks/recipient/__form-row/_row/recipient__form-row_second.css);
@import url(../blocks/recipient/__input-wrapper/recipient__input-wrapper.css);
@import url(../blocks/recipient/__input/recipient__input.css);
@import url(../blocks/recipient/__input/_invalid/recipient__input_invalid.css);
@import url(../blocks/recipient/__label/recipient__label.css);
@import url(../blocks/recipient/__error-message/recipient__error-message.css);
@import url(../blocks/recipient/__error-message/_visible/recipient__error-message_visible.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/page/__footer/page__footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);

@import url(../blocks/info-tooltip/info-tooltip.css);
@import url(../blocks/info-tooltip/__row/info-tooltip__row.css);
@import url(../blocks/info-tooltip/_opened/info-tooltip_opened.css);
@import url(../blocks/info-tooltip/_free-return/info-tooltip_free-return.css);
@import url(../blocks/info-tooltip/_discount/info-tooltip_discount.css);
@import url(../blocks/info-tooltip/_deliverer/info-tooltip_deliverer.css);

@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__container/_delivery-method/popup__container_delivery-method.css);
@import url(../blocks/popup/__close-button/popup__close-button.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__form/_delivery/popup__form_delivery.css);
@import url(../blocks/popup/__form-row/popup__form-row.css);
@import url(../blocks/popup/__address-wrapper/popup__address-wrapper.css);
@import url(../blocks/popup/__radio/popup__radio.css);
@import url(../blocks/popup/__card/popup__card.css);
@import url(../blocks/popup/__toggle-wrapper/popup__toggle-wrapper.css);
@import url(../blocks/popup/__toggle-button/popup__toggle-button.css);
@import url(../blocks/popup/__toggle-button/_active/popup__toggle-button_active.css);
