@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);

@import url(../blocks/page/page.css);
@import url(../blocks/page/__container/page__container.css);

@import url(../blocks/section/section.css);
@import url(../blocks/section/__title/section__title.css);
@import url(../blocks/section/__title/_currency/section__title_currency.css);
@import url(../blocks/section/__title/_cost-details/section__title_cost-details.css);
@import url(../blocks/section/__subtitle/section__subtitle.css);
@import url(../blocks/section/__subtitle/_semibold/section__subtitle_semibold.css);
@import url(../blocks/section/__text/section__text.css);
@import url(../blocks/section/__subtext/section__subtext.css);
@import url(../blocks/section/__subtext/_purple/section__subtext_purple.css);
@import url(../blocks/section/__subtext/_green/section__subtext_green.css);
@import url(../blocks/section/__subtext/_link/section__subtext_link.css);
@import url(../blocks/section/__subtext/_padding-left-4/section__subtext_padding-left-4.css);
@import url(../blocks/section/__subtext/_grey/section__subtext_grey.css);
@import url(../blocks/section/__subtext/_recipient/section__subtext_recipient.css);

@import url(../blocks/content/content.css);
@import url(../blocks/page/__content/page__content.css);
@import url(../blocks/content/__column/content__column.css);
@import url(../blocks/content/__section/content__section.css);

@import url(../blocks/header/header.css);
@import url(../blocks/page/__header/page__header.css);
@import url(../blocks/header/__container/header__container.css);
@import url(../blocks/header/__logo-wrapper/header__logo-wrapper.css);
@import url(../blocks/burger-menu/burger-menu.css);
@import url(../blocks/button/button.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__logo/_mobile/header__logo_mobile.css);
@import url(../blocks/header/__search-form/header__search-form.css);
@import url(../blocks/header/__search-input/header__search-input.css);
@import url(../blocks/header/__search-button/header__search-button.css);
@import url(../blocks/header/__nav/header__nav.css);
@import url(../blocks/header/__nav-container/header__nav-container.css);
@import url(../blocks/header/__nav-item/header__nav-item.css);
@import url(../blocks/header/__nav-icon/header__nav-icon.css);
@import url(../blocks/header/__nav-icon/_cart/header__nav-icon_cart.css);
@import url(../blocks/header/__nav-link/header__nav-link.css);
@import url(../blocks/header/__nav-span/header__nav-span.css);
@import url(../blocks/header/__mobile-search/header__mobile-search.css);

@import url(../blocks/item-count-badge/item-count-badge.css);
@import url(../blocks/item-count-badge/_header/item-count-badge_header.css);
@import url(../blocks/item-count-badge/_delivery-method/item-count-badge_delivery-method.css);

@import url(../blocks/main/main.css);
@import url(../blocks/main/__container/main__container.css);

@import url(../blocks/checkbox/checkbox.css);
@import url(../blocks/checkbox/__input/checkbox__input.css);
@import url(../blocks/checkbox/__span/checkbox__span.css);

@import url(../blocks/dropdown/__button/dropdown__button.css);
@import url(../blocks/divider-line/divider-line.css);
@import url(../blocks/divider-line/_absent-goods/divider-line_absent-goods.css);
@import url(../blocks/like-button/like-button.css);
@import url(../blocks/delete-button/delete-button.css);

@import url(../blocks/absent-goods/__title-wrapper/absent-goods__title-wrapper.css);
@import url(../blocks/absent-goods/__list/absent-goods__list.css);
@import url(../blocks/absent-goods/__item/absent-goods__item.css);
@import url(../blocks/absent-goods/__content-wrapper/absent-goods__content-wrapper.css);
@import url(../blocks/absent-goods/__photo/absent-goods__photo.css);
@import url(../blocks/absent-goods/__description/absent-goods__description.css);
@import url(../blocks/absent-goods/__button-wrapper/absent-goods__button-wrapper.css);

@import url(../blocks/info-block/info-block.css);
@import url(../blocks/info-block/__title-wrapper/info-block__title-wrapper.css);
@import url(../blocks/order-summary/order-summary.css);
@import url(../blocks/order-summary/__cost-details/order-summary__cost-details.css);
@import url(../blocks/order-summary/__order-details/order-summary__order-details.css);
@import url(../blocks/order-summary/__subtitle-wrapper/order-summary__subtitle-wrapper.css);
@import url(../blocks/order-summary/__edit-button/order-summary__edit-button.css);
@import url(../blocks/order-summary/__highlighted-info/order-summary__highlighted-info.css);
@import url(../blocks/order-summary/__shipping-info/order-summary__shipping-info.css);
@import url(../blocks/order-summary/__shipping-icon/order-summary__shipping-icon.css);
@import url(../blocks/order-summary/__text-wrapper/order-summary__text-wrapper.css);
@import url(../blocks/order-summary/__address-text-wrapper/order-summary__address-text-wrapper.css);
@import url(../blocks/order-summary/__checkbox-wrapper/order-summary__checkbox-wrapper.css);
@import url(../blocks/order-summary/__terms-of-use-container/order-summary__terms-of-use-container.css);
@import url(../blocks/submit-button/submit-button.css);
@import url(../blocks/submit-button/_order-summary/submit-button_order-summary.css);

@import url(../blocks/credit-card-number/credit-card-number.css);
@import url(../blocks/credit-card-number/__card-icon-background/credit-card-number__card-icon-background.css);
@import url(../blocks/credit-card-number/__card-icon/credit-card-number__card-icon.css);

@import url(../blocks/info-block/_gap-16/info-block_gap-16.css);
@import url(../blocks/change-button/change-button.css);
@import url(../blocks/delivery-method/__row/delivery-method__row.css);
@import url(../blocks/delivery-method/__rating-icon/delivery-method__rating-icon.css);
@import url(../blocks/delivery-method/__free-return-info/delivery-method__free-return-icon.css);
@import url(../blocks/delivery-method/__shipping-icon/delivery-method__shipping-icon.css);
@import url(../blocks/delivery-method/__goods-photos/delivery-method__goods-photos.css);
@import url(../blocks/delivery-method/__goods-photo-item/delivery-method__goods-photo-item.css);
@import url(../blocks/delivery-method/__goods-photo-img/delivery-method__goods-photo-img.css);
@import url(../blocks/delivery-method/__flex-column/delivery-method__flex-column.css);
@import url(../blocks/delivery-method/__address-work-hours/delivery-method__address-work-hours.css);

@import url(../blocks/info-block/_recipient/info-block_recipient.css);
@import url(../blocks/recipient/__form/recipient__form.css);
@import url(../blocks/recipient/__form-row/recipient__form-row.css);
@import url(../blocks/recipient/__form-row/recipient__form-row.css);
@import url(../blocks/recipient/__form-row/_row/recipient__form-row_second.css);
@import url(../blocks/recipient/__input-wrapper/recipient__input-wrapper.css);
@import url(../blocks/recipient/__input/recipient__input.css);
@import url(../blocks/recipient/__label/recipient__label.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/page/__footer/page__footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
