.order-summary__highlighted-info {
  width: 100%;
  padding: 8px 8px 12px;
  border-radius: 8px;
  background-color: #F6F6FA;
  box-sizing: border-box;
}

@media screen and (max-width: 1023px) {
  .order-summary__highlighted-info {
    background-color: #F0ECF4;
  }
}
