.header__search-button {
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  background-image: url(../../../images/search_icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px 24px;
}
