.submit-button {
  text-align: center;
  height: 44px;
  width: 100%;
  background-color: #CB11AB;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  overflow: hidden;
}
