.delivery-method__goods-photos {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}

@media screen and (max-width: 1023px) {
  .delivery-method__goods-photos {
    margin-top: 12px;
  }
}
