.recipient__form-row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 24px;
  justify-items: stretch;
  align-items: center;
  justify-content: stretch;
  align-content: start;
}

@media screen and (max-width: 1023px) {
  .recipient__form-row {
    grid-template-columns: 1fr;
    row-gap: 26px;
  }
}
