.cart-items-list__info-icon {
  width: 20px;
  height: 20px;
  object-fit: cover;
  cursor: pointer;
}

@media screen and (max-width: 1023px) {
  .cart-items-list__info-icon {
    display: none;
  }
}
