.content {
  display: grid;
  grid-template-columns: 1fr minmax(303px, 429px);
  grid-column-gap: 32px;
  justify-items: stretch;
  align-items: start;
  justify-content: stretch;
  align-content: start;
}

@media screen and (max-width: 1200px) {
  .content {
    grid-template-columns: 1fr 350px;
  }
}

@media screen and (max-width: 1024px) {
  .content {
    grid-template-columns: 1fr 303px;
  }
}
